:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

*{
    padding : 0;
    margin : 0;
    box-sizing : border-box;
}

/* fonts : font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;  */

body {
    min-height : 100vh;
    display: flex;
    background-color: var(--very-light-gray);
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns : 1fr 1fr 1fr;
    width: 700px;
    height: 400px;
    border-radius: 9px;
    overflow: hidden;
    font-size: 15px;
}

p {
    font-size : 13px;
    font-family: 'Lexend Deca', sans-serif;
    color: var(--transparent-white);
    padding: 0 30px;
    font-weight : 200;
    line-height : 1.6;
}

h2 {
    font-family: 'Big Shoulders Display';
    color: var(--very-light-gray);
    padding: 15px 30px;
    font-weight: 700;
    font-size : 30px;
}

.sedans{
    background-color : var(--bright-orange);
}

.suvs{
    background-color: var(--dark-cyan);
}

.luxury {
    background-color: var(--very-dark-cyan);
}

img{
    padding : 30px 30px 10px 30px;
}

button {
    width: 115px;
    height: 40px;
    margin: 70px 30px 0 30px;
    border-radius: 30px;
    border: 2px solid white;
    background-color: white;
    white-space: nowrap;
    font-family: 'Lexend Deca', sans-serif;
}

.sed_btn{
    color : var(--bright-orange);
}

.sed_btn:hover{
    background-color : var(--bright-orange);
    color : white;
}

.suv_btn {
    color: var(--dark-cyan);
}

.suv_btn:hover {
    background-color: var(--dark-cyan);
    color: white;
}


.lux_btn {
    color: var(--very-dark-cyan);
}

.lux_btn:hover {
    background-color: var(--very-dark-cyan);
    color: white;
}

@media only screen and (max-width : 426px){

    .container {
        margin : 50% 30px;
        grid-template-columns : 1fr;
        min-height : 1100px;
        max-width : 100vh;
    }
}